* {
    box-sizing: unset;
}
body {
    background-image: url(./Old-scroll.png);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    display: flex;
    justify-content: center;
}

nav {
    justify-content: center;
}
nav ul a {
    /* flex-wrap: wrap-reverse; */
    flex-direction: row;
    padding: 25px;
}
